.navigation {
  background-color: transparent;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;

  &__link {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}